<!DOCTYPE html>
<html>
	<head>
		<title>Chess</title>
    <link href="/style.css" rel="stylesheet">
    <link rel="icon" href="/favicon">
    <script src="/client.js" defer></script>
    <script>
      function init() {
        oninit();
      }
    </script>
	</head>
	<body>
    <p id="bc">
      
    </p>
	  <table id="game">
		<div id="highlight">.</div>
	  </table>
    <div id="promotion">
      <button onclick="promote('queen')">
        ♛
      </button>
      <button onclick="promote('knight')">
        ♞
      </button>
      <button onclick="promote('bishop')">
        ♝
      </button>
      <button onclick="promote('rook')">
        ♜
      </button>
    </div>
    <div id="log">
      
    </div>
	</body>
</html>